NET "LED[0]" 			LOC = AB26      | IOSTANDARD = LVCMOS33 ;
NET "LED[1]" 			LOC = W24       | IOSTANDARD = LVCMOS33 ;
NET "LED[2]" 			LOC = W23       | IOSTANDARD = LVCMOS33 ;

NET "clk_100mhz" LOC = AC18 | IOSTANDARD = LVCMOS18;
NET "clk_100mhz" TNM_NET = TM_CLK;
TIMESPEC TS_CLK_100M = PERIOD "TM_CLK" 10 ns HIGH 50% ;

net "SW[0]" loc = AA10   	| IOSTANDARD = LVCMOS15;
net "SW[1]" loc = AB10   	| IOSTANDARD = LVCMOS15;

NET "Buzzer" LOC = AF24      | IOSTANDARD = LVCMOS33 ;