//! **************************************************************************
// Written by: Map P.20131013 on Mon Nov 07 21:22:26 2016
//! **************************************************************************

SCHEMATIC START;
COMP "F" LOCATE = SITE "U21" LEVEL 1;
COMP "s1" LOCATE = SITE "AA10" LEVEL 1;
COMP "s2" LOCATE = SITE "AB10" LEVEL 1;
COMP "s3" LOCATE = SITE "AA13" LEVEL 1;
SCHEMATIC END;

