//! **************************************************************************
// Written by: Map P.20131013 on Wed Nov 30 13:49:14 2016
//! **************************************************************************

SCHEMATIC START;
COMP "SW<4>" LOCATE = SITE "Y13" LEVEL 1;
COMP "Buzzer" LOCATE = SITE "AF24" LEVEL 1;
COMP "SW<5>" LOCATE = SITE "Y12" LEVEL 1;
COMP "SW<6>" LOCATE = SITE "AD11" LEVEL 1;
COMP "SW<7>" LOCATE = SITE "AD10" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "V21" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "W26" LEVEL 1;
SCHEMATIC END;

